.main_chat
  .main_chat__group-info
    .main_chat__group-info__name
      .main_chat__group-info__name__group-name
        = @group.name
      .main_chat__group-info__name__group-member
        - @group.group_users.each do |group_user|
          = "Member:#{group_user.user.name}"
    .main_chat__group-info__edit
      = link_to edit_group_path(@group), class: "edit__btn" do
        Edit
  .main_chat__message-list
    .main_chat__message-list__message
      .main_chat__message-list__message__info
        .main_chat__message-list__message__info__taker
          吾輩
        .main_chat__message-list__message__info__date
          2020/12/12
      .main_chat__message-list__message__text
        蝋人形にしてやろうかー
    .main_chat__message-list__message
      .main_chat__message-list__message__info
        .main_chat__message-list__message__info__taker
          吾輩
        .main_chat__message-list__message__info__date
          2020/12/12
      .main_chat__message-list__message__text
        蝋人形にしてやろうかー
  .main_chat__message-form 
    = form_for [@group, @message] do |f|
      .main_chat__message-form__input
        = f.text_field :content, placeholder: "type a message", class: "input__text"
        = f.label :image, class: "icon__file", for: "message_image" do
          = fa_icon 'image', class: 'image'
          = f.file_field :image, id: "message_image", class: "image_file"
      = f.submit 'Send', class: "send__btn" 
.messages
  = render @messages