.side_bar
  .side_bar__user-name
    .side_bar__user-name__name
      .side_bar__user-name__name__left-name
        = current_user.name
      .side_bar__user-name__name__right-icon
        = link_to "#", class: "content__btn" do
          = fa_icon 'edit', class: 'icon'
        = link_to edit_user_path(current_user) do
          = fa_icon 'cog', class: 'icon'
          //= icon('fas', 'cog', class: 'icon')
  .side_bar__group-lists
    .side_bar__group-lists__list
      .side_bar__group-lists__list__group-name
        とととと
      .side_bar__group-lists__list__group-message
        ちちちち
    .side_bar__group-lists__list
      .side_bar__group-lists__list__group-name
        ぎぎぎぎ
      .side_bar__group-lists__list__group-message
        とととと
      